*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin:0;
	padding:0;
}

h2{
	font-size:50px;
	font-weight:normal;
}

h2.mobile {
    border-bottom: 2px solid #FCDF00;
}
h4{
    color: #6F6E6E;
}

h5{
    color: #6F6E6E
}

.title h2, h3 {
    border-bottom: 2px solid #FCDF00;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #6F6E6E;
}

img{
	max-width: 100%;
}

img.suzanne{
    padding-top: 40px;
}

img.mobile{
    display: none;
}
/*
div{
	background:rgba(200, 200, 200, .5);
}
*/

/*nav*/
header{
	position:relative;
}

#logo{
	padding:10px;
	font-weight:normal;
	text-transform: uppercase;
    border-left: 2px solid #FCDF00;
    
}

#mobilenav{
	display:none;
}

nav{
	position:absolute;
	top:17px;
	right: 40%;
}

nav ul{
	list-style: none;
}

nav li{
	display:inline-block;
}

li a.active {
  border-bottom: 2px solid #FCDF00;
  color: black;
}

nav a{
    text-transform: uppercase;
	padding:10px;
	text-decoration: none;
	color:#ccc;
}

nav a:hover{
	color:#000;
}



/*columns*/

.container, header{
	max-width:1080px;
	margin:0 auto;
}

.row:after{
	content:'';
	display:block;
	clear:both;
}

.col{
	float:left;
	padding:30px;
}

.c75{
	width:75%;
}

.c50{
	width:50%;
}

.c25{
	width:25%;
    position: relative;
}


/*brand*/
.hero{
	margin: 0 auto;
}

@media screen and (max-width:1024px){
    .ipad {
        display: none;
    }
}




@media screen and (max-width:768px){
    
    .container{
        padding-top: 0px;
    }
    
	.col{
		float:none;
		padding:20px;
	}
	.c50, .c25{
		width:100%;
	}
	h2{
		color:black;
        font-weight: 600;
	}
	
    h2.mobile, h4.mobile{
        display: none;
    }
    
    
    .title h2, h3{
        text-transform: uppercase;
    }
    
	nav{
		display: none;
		position:static;
	}
    
	nav li{
		display:block;
	}
    
	nav a{
		width:100%;
		display:block;
		border:none;
		color:#000;
	}
	
	#mobilenav{
		display:block;
		position:absolute;
		top:17px;
		right:10px;
	}
	
	#mobilenav a{
		text-decoration: none;
		color:#FCDF00;
		padding:10px;
		height: 200px;
        font-size: 50px;
	}
    
    img.mobile{
        display: block;
        padding-bottom: 20px;
    }
    
    img.suzanne{
        display: none;
    }
	
    .ipad{
        display: block;
    }
}

.cool {
    height: 86vh;
}

.collage { position:relative;
            padding-top:20px; }

.imgA1 { position:absolute; padding-top: 20px; top: 0px; left: 0px; z-index: 1; } 
.imgB1 { position:absolute; top: 250px; left: 200px; z-index: 3; } 
